---
import { SITE } from 'astrowind:config';
import ariesLogoDark from '~/assets/images/Aries1 logo - Dark.png';
import ariesLogoLight from '~/assets/images/Aries1 logo - Light.png';
---

<div class="self-center ml-2 rtl:ml-0 rtl:mr-2">
  <!-- Logo for light mode (dark logo) -->
  <img 
    src={ariesLogoDark.src} 
    alt="Aries Manufacturing" 
    class="h-8 w-auto dark:hidden"
    width="120"
    height="32"
  />
  <!-- Logo for dark mode (light logo) -->
  <img 
    src={ariesLogoLight.src} 
    alt="Aries Manufacturing" 
    class="h-8 w-auto hidden dark:block"
    width="120"
    height="32"
  />
</div>
